@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #f7f7f7;
}
.main-wrapper {
  width: 100%;
  background-image: url("./../dkut.jpeg");
  background-size: cover;
  border-radius: 16px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, .9);
}

@media screen and (min-width: 800px) {
  .main-wrapper {
    /* padding-left: 10vw;
    padding-right: 10vw; */
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  background-color: #91d343;
}

header .logo {
  color: #fff;
}

header .nav {
  display: flex;
}
header .nav a {
  margin-right: 20px;
  color: #fff;
  font-size: 20px;
}

header .nav a:hover {
  text-decoration: none;
  color: #91d343;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.form {
  background-color: #fff;
  padding: 50px 20px;
}
