@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #f7f7f7;
  background: #944fdd;
}
.main {
  width: 100%;
  border-radius: 16px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

header .logo {
  color: #fff;
}

header .nav {
  display: flex;
}
header .nav a {
  margin-right: 20px;
  color: #fff;
  font-size: 20px;
}

header .nav a:hover {
  text-decoration: none;
  color: #91d343;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.form {
  background-color: #fff;
  padding: 50px 20px;
}

/* Side bar */
.sidebar, .main-content{
  background-color: #fff;
  min-height: 90vh;
}

.sidebar{
  border-right: 5px solid #eee;
}
.side-nav{
}

.side-nav-item{
  margin: 10px 0px 12px 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* background: #eee; */
  border-radius: 10px;
  padding-left: 20px;
}
.side-nav-item h5{
  color: #0c0c0b;
}
.side-nav-item:hover{
  background-color: #eee;
}

@media screen and (min-width: 800px) {
  .main,
  header {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
